nav, .navbar-item{
  background-color: #3F51B5;
  color: #ffffff;
}
.navbar-start .navbar-item:hover:not(.notactive){
  background-color: #5C6BC0;
  color: #ffffff;
}
.navbar-start .navbar-item:hover:not(.active){
  background-color: #283593;
  color: #ffffff
}
.active{
  background: #5C6BC0;
}
body{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
html, body{
  background-color: #1a1919;
  color: #ffffff;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: normal;
}
.footer a{
  color: #000000;
}
.footer .is-flex{
  justify-content: center;
  align-items: center;
}
.extender{
  flex: 1 0 auto;
}